<ion-header>
    <dc-header [showSearchBar]="false" [showBackButton]="true" [showOrder]="false" [title]="'Đăng nhập'"> </dc-header>
</ion-header>


<ion-content>
    <div class="logo-image">
        <img src="assets/images/login/logo.png" alt="">
    </div>

    <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="dc-form login-form">
            <div class="input-div">
                <!-- <span class="icon" [class.valid]="loginForm.controls.phone.valid && loginForm.controls.phone.dirty"><i class="fa fa-phone" aria-hidden="true"></i></span> -->
                <span class="icon">
                        <img src="assets/images/login/icon_phone.png" alt=""  >
                </span>
                <ion-input type="tel" [(ngModel)]="phone" formControlName="phone" placeholder="Số điện thoại" (ionChange)="checkForm()"></ion-input>
            </div>
            <span *ngIf="!loginForm.controls.phone.valid && isSubmitted" class="validate-message">{{phoneErrorMessage}}</span>
            <div class="input-div">
                <span class="icon">
                        <img src="assets/images/login/icon_password.png" alt=""  >
                </span>
                <ion-input type="password" [(ngModel)]="password" formControlName="password" placeholder="Mật khẩu" (ionChange)="checkForm()">
                </ion-input>
            </div>
            <span *ngIf="!loginForm.controls.password.valid && isSubmitted" class="validate-message">{{passwordErrorMessage}}</span>
        </div>
        <div class="login-button">
            <button ion-button class="dc-button" type="submit">
                Đăng nhập
            </button>
        </div>
    </form>
    <div class="divider">
        <div class="line"></div>
        <span class="divider-text">hoặc</span>
    </div>
    <div class="social-login">
        <span class="social-button facebook-button">
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </span>
        <span class="social-button google-button">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
      </span>
    </div>
    <div class="register-button">
        <span (tap)="gotoRegister()">Tạo tài khoản</span>
    </div>
</ion-content>