<div class="dc-header">
    <div class="header-title">
        <span class="header-button button-left" menuToggle>
            <ion-icon name="ios-menu-outline"></ion-icon>
        </span>
        <span class="title dc-big">
          BISTRO DANCER
        </span>
        <span class="header-button button-right">
            <ion-icon name="ios-analytics-outline"></ion-icon>
        </span>
    </div>
    <div class="search-bar">
        <ion-searchbar class="searchbar-ios" [class.searchbar-md]="false" placeholder="{{placholder}}"></ion-searchbar>
    </div>
</div>