number-picker {
    .number-picker {
        display: inline-block;
    }
    .number-picker-button {
        color: map-get($DCColors, primary);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 1.3em;
        width: 1.3em;
        padding: 0;
        line-height: 1.3em;
        vertical-align: baseline;
        border-radius: 20px;
        border: solid 1px;
        margin: 0 5px;
        i {
            font-size: .9em;
        }
    }
    .button-minus {
        margin-left: 0;
    }
    .number-picker-number {
        font-size: 1.3em;
        vertical-align: middle;
        font-weight: 500;
        color: map-get($DCColors, black);
    }
}