<ion-header>
    <dc-header (onSearch)="search($event)" [ionContent]="content"> </dc-header>
</ion-header>
<ion-content>
    <div class="dc-content">
        <div class="slide">
            <ion-slides pager="true" autoplay="3000">
                <ion-slide *ngFor="let discount of discounts" (click)="gotoDiscountDetail(discount)">
                    <img src="{{discount.image}}" alt="slide">
                </ion-slide>

            </ion-slides>
        </div>
        <div [hidden]="!category.numberOfItems" class="dc-section" *ngFor="let category of showCategories">
            <div class="section-header">
                <span class="title">{{category.titleVie}}</span>
                <span class="button-right round" (click)="goToMenu(category)">Xem tất cả </span>
            </div>
            <div class="section-body horizontal-scroll">
                <div *ngFor="let food of getFoodByCategory(category) | async" class="item" (click)="gotoDetail(food)">
                    <div class="item-image">
                        <img src="{{food.image}}" alt="image">
                    </div>
                    <span class="title">{{food.titleVie}}</span>
                    <span class="dc-price">{{food.price.toLocaleString()}} {{food.currency}}</span>
                </div>
            </div>
        </div>
        <ion-infinite-scroll *ngIf="categoryIndex < categories.length" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </div>
</ion-content>