<ion-header>
    <dc-header (onSearch)="search($event)"> </dc-header>
</ion-header>
<ion-content>
    <div class="dc-content">
        <div class="slide">
            <ion-slides pager="true" autoplay="3000">
                <ion-slide *ngFor="let discount of discounts" (click)="gotoDiscountDetail(discount)">
                    <img src="{{discount.image}}" alt="slide">
                </ion-slide>

            </ion-slides>
        </div>
        <div class="dc-section">
            <div class="section-header">
                <span class="title">Món ngon hôm nay</span>
                <span class="button-right round">Xem tất cả</span>
            </div>
            <div class="section-body horizontal-scroll">
                <div *ngFor="let food of dailyFoods" class="item">
                    <div class="item-image">
                        <img src="{{food.image}}" alt="image">
                    </div>
                    <span class="title">{{food.title}}</span>
                    <span class="dc-price">{{food.price}} Vnđ</span>
                </div>
            </div>
        </div>
        <div class="dc-section">
            <div class="section-header">
                <span class="title">Các món được yêu thích</span>
                <span class="button-right round">Xem tất cả</span>
            </div>
            <div class="section-body horizontal-scroll">
                <div *ngFor="let food of favoriteFoods" class="item">
                    <div class="item-image">
                        <img src="{{food.image}}" alt="image">
                    </div>
                    <span class="title">{{food.title}}</span>
                    <span class="dc-price">{{food.price}} Vnđ</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>