dc-header {
    $headerRowHeight: 45px;
    width: 100%;
    .dc-header {
        color: map-get($DCColors, white);
        background-color: map-get($DCColors, primary);
        background-image: url('/assets/images/main-icon/top_bar_3.png');
        background-position: 0 0;
        background-size: 100% auto;
        background-repeat: no-repeat;
        .header-title {
            width: 100%;
            height: $headerRowHeight;
            .title {
                font-size: 1.3em;
                text-transform: uppercase;
                width: 100%;
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
            }
            .header-button {
                width: auto;
                height: $headerRowHeight;
                line-height: $headerRowHeight;
                font-size: 1.8em;
                padding: 0 map-get($DCSizes, defaultPadding);
                display: inline-block;
                position: absolute;
                top: 0;
                ion-icon {
                    vertical-align: text-bottom;
                }
                .icon {
                    width: 1.2em;
                    height: 1.2em;
                    display: inline-block;
                    vertical-align: text-top;
                }
                &.button-left {
                    left: 0;
                }
                &.button-right {
                    right: 0;
                    .order-number {
                        font-size: .5em;
                        display: block;
                        padding: .2em .4em;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        border-radius: 20px;
                        background-color: map-get($DCColors, yellow);
                        line-height: 1em;
                        text-align: center;
                        transform: translate3d(20%, -120%, 0);
                        color: #000;
                    }
                }
            }
        }
    }
}

.search-bar {
    .searchbar {
        background: none !important;
        padding: 0 map-get($DCSizes, defaultPadding);
        .searchbar-input {
            border-radius: 20px;
        }
    }
}