// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.show-page {
    font-size: .8em;
    color: map-get($DCColors, black);
}

.show-page .show-page {
    font-size: 1em;
}

.dc-big {
    font-size: map-get($DCSizes, big);
}

.dc-litte-big {
    font-size: map-get($DCSizes, littelBig);
}

.dc-small {
    font-size: map-get($DCSizes, small);
}

.dc-black {
    color: map-get($DCColors, black);
}

.dc-bold {
    font-weight: 500;
}

.dc-price {
    font-weight: 500;
    color: map-get($DCColors, orange);
}

.dc-menu {
    &.show-menu {
        .show-backdrop {
            display: block;
            background-color: #123;
            width: 100%;
            height: 100%;
            opacity: .7;
        }
    }
    @keyframes zIndex {
        0% {
            z-index: 1;
        }
        100% {
            z-index: 1;
        }
    }
    @keyframes opacity {
        0% {
            opacity: .01;
        }
        100% {
            opacity: .7;
        }
    }
    .menu-inner {
        background-color: map-get($DCColors, primary);
        color: map-get($DCColors, white);
    }
    .menu-header {
        text-align: center;
        line-height: 1.8em;
        padding: 16px;
        .button-group {
            width: 100%;
            text-align: center;
            font-size: .9em;
            margin-top: 5px;
            .button {
                display: inline-block;
                padding: 0 10px;
                border: solid 1px map-get($DCColors, white);
                border-radius: 20px;
                line-height: 1.8em;
                margin: 5px;
            }
        }
    }
    .menu-content {
        font-size: .9em;
        .divider {
            height: 1px;
            background-color: map-get($DCColors, lightgray);
            width: 85%;
            width: calc(100% - 40px);
            margin: 10px auto;
        }
        .menu-item {
            height: 3em;
            line-height: 3em;
            display: flex;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 16px 0 20px;
            &:first-child {
                border-top: solid 1px #98262e;
            }
            &.active {
                background-color: #98262e;
                border-left: solid 6px map-get($DCColors, yellow);
                font-weight: bold;
                padding-left: 14px;
            }
            .icon {
                font-size: 1.2em;
                margin-right: 8px;
                color: map-get($DCColors, yellow);
                i,
                ion-icon {
                    vertical-align: middle;
                }
            }
        }
    }
}

.dc-button {
    padding: 8px 16px;
    border-radius: 20px;
    color: map-get($DCColors, white);
    background-color: map-get($DCColors, primary);
}

.dc-button-outline {
    padding: 8px 16px;
    border-radius: 20px;
    color: map-get($DCColors, primary);
    background-color: map-get($DCColors, white);
    border: solid 1px;
}

.dc-step-group {
    display: flex;
    width: 100%;
    .step {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: map-get($DCColors, gray);
        justify-content: flex-start;
        align-items: center;
        min-width: 25%;
        &.active {
            .step-number {
                color: map-get($DCColors, primary);
            }
            .step-title {
                color: map-get($DCColors, black);
                font-weight: 500;
            }
        }
        &.has-arrow {
            position: relative;
            &::after {
                content: '\2192';
                display: block;
                position: absolute;
                right: -2.5em;
                top: 0;
                width: 3em;
                height: 2em;
                text-align: left;
                font-size: 1.5em;
                line-height: .9em;
                color: map-get($DCColors, yellow);
            }
        }
        .step-number {
            display: block;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            text-align: center;
            border: solid 1px;
            border-radius: 20px;
            margin-bottom: 5px;
            padding: 0 5px;
        }
        .step-title {
            text-align: center;
        }
    }
}

.dc-content {
    padding-bottom: 20px;
    .dc-section:last-child {
        border-bottom: none;
    }
}

.dc-section {
    border-bottom: solid 1px map-get($DCColors, lightgray);
    background-color: map-get($DCColors, white);
    line-height: 1.5em;
    color: map-get($DCColors, black);
    .section-header {
        height: 3em;
        position: relative;
        line-height: 3em;
        padding: 0 map-get($DCSizes, defaultPadding);
        .title {
            font-size: map-get($DCSizes, big);
            font-weight: 500;
            color: map-get($DCColors, red);
        }
        .button-right {
            position: absolute;
            &.round {
                height: 1.5em;
                top: .75em;
                right: map-get($DCSizes, paddingRight);
                line-height: 1.5em;
                padding: 0 10px;
                border-radius: 20px;
                border: solid 1px map-get($DCColors, red);
                display: block;
                color: map-get($DCColors, red);
            }
        }
    }
    .horizontal-scroll {
        display: flex;
        width: 100%;
        overflow: auto;
        padding: 0 16px;
    }
    .section-body {
        padding: 0 map-get($DCSizes, paddingRight) 0 map-get($DCSizes, defaultPadding);
        width: 100%;
        margin: 5px 0 10px 0;
        .item {
            width: 30%;
            padding: 0 5px;
            display: inline-block;
            min-width: 30%;
            flex-basis: 30%;
            .title {
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 5px;
                max-height: 3em;
                overflow: hidden;
            }
            .item-image {
                width: 100%;
                height: 60px;
                height: 25vw;
                border-radius: 50%;
                display: flex;
                overflow: hidden;
                max-width: 100px;
                max-height: 100px;
                img {
                    object-fit: cover;
                }
            }
        }
    }
}

.food-item {
    border-bottom: solid 1px map-get($DCColors, lightgray);
    &.active {
        .title {
            color: map-get($DCColors, primary) !important;
        }
    }
    &:last-child {
        border-bottom: none;
    }
    padding: 16px;
    display: flex;
    .item-image {
        width: 20%;
        width: 20vw;
        height: 65px;
        height: 20vw;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        display: flex;
        max-width: 100px;
        max-height: 100px;
        img {
            object-fit: cover;
        }
    }
    .item-des {
        width: 55%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .title {
            display: block;
            width: 100%;
            padding: 5px 0;
            font-weight: 500;
            font-size: map-get($DCSizes, big);
            color: map-get($DCColors, black);
        }
        .des {
            display: block;
            width: 100%;
            color: map-get($DCColors, gray);
        }
        .time {
            display: block;
            width: 100%;
            color: map-get($DCColors, green);
        }
    }
    .item-order {
        width: 25%;
        text-align: center;
        .dc-price {
            font-size: map-get($DCSizes, big);
        }
        number-picker {
            display: block;
            width: 100%;
            .number-picker {
                height: 3.5em;
                line-height: 3.5em;
                width: 100%;
                text-align: center;
            }
        }
    }
}