page-dc-service {
    .row,
    .col {
        padding: 0;
    }
    .item {
        padding: 10px map-get($DCSizes, defaultPadding);
        border-bottom: solid 1px map-get($DCColors, lightgray);
        .col-text {
            display: flex;
            padding-left: 10px;
            flex-direction: column;
            justify-content: space-around;
            justify-content: space-evenly;
            .title {
                font-size: map-get($DCSizes, big);
                color: map-get($DCColors, black);
                font-weight: bold;
                display: block;
            }
            .des {
                color: map-get($DCColors, gray);
            }
        }
        .col-img {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 5px;
            img {
                width: 100%;
            }
        }
    }
}